<header><%- include('./partials/header.ejs') %></header>
<body>
	<div class="container mt-3">
		<div class="jumbotron">
			<h1 style="color: blue">Error al Crear producto:</h1>
			<br />
			<h3 style="color: blue"><%= error %></h3>
      <br/>   
      <a href='/api/products/form' class="btn btn-primary mt-3 mb-0">Go to Product List</a>
		</div>
	</div>
</body>
<%- include('./partials/footer.ejs') %>
