<div class="container mt-3">
  <div class="jumbotron">
    <h1 style="color: blue">Ingrese datos del producto:</h1>
    <br />
    <form action="/api/products" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <label for="title"><b>Title:</b></label>
        <input id="title" class="form-control" type="text" name="title" />
      </div>
      <div class="form-group">
        <label for="price"><b>Price:</b></label>
        <input id="price" class="form-control" type="number" name="price" />
      </div>
      <div class="form-group">
        <label for="category"><b>Category:</b></label>
        <input id="category" class="form-control" type="text" name="category" />
      </div>
        <div class="form-group">
        <label for="file"><b>Image:</b></label>
        <input id="file" type="file" class="form-control" name="image" />
      </div>
      <button class="btn btn-success mt-3 mb-5">Enviar</button>
      <br/>   
      <a href='/api/products' class="btn btn-primary mt-3 mb-0">Go to Product List</a>
    </form>
  </div>
</div>